In [2]:
#merging 
import pandas as pd
student = pd.DataFrame(
    {
        'studentID':[101,102,103,104,105],
        'name':['malhar','meet','om','ron','pri'],
        'age':[21,5,21,23,21]
    }
)
score = pd.DataFrame(
    {
        'studentID':[101,102,103,106],
        'subject':['math','math','science','history'],
        'Score':[90,99,82,83]
    }
)

print(student)
print(score)

   studentID    name  age
0        101  malhar   21
1        102    meet    5
2        103      om   21
3        104     ron   23
4        105     pri   21
   studentID  subject  Score
0        101     math     90
1        102     math     99
2        103  science     82
3        106  history     83

In [3]:
#inner join
# using merge
inner_merge = pd.merge(student,score,on='studentID')
print(inner_merge)

   studentID    name  age  subject  Score
0        101  malhar   21     math     90
1        102    meet    5     math     99
2        103      om   21  science     82

In [4]:
#left join 
left_merge = pd.merge(student,score,on='studentID',how='left')
print(left_merge)

   studentID    name  age  subject  Score
0        101  malhar   21     math   90.0
1        102    meet    5     math   99.0
2        103      om   21  science   82.0
3        104     ron   23      NaN    NaN
4        105     pri   21      NaN    NaN

In [5]:
#right join 
right_merge = pd.merge(student,score,on='studentID',how='right')
print(right_merge)

   studentID    name   age  subject  Score
0        101  malhar  21.0     math     90
1        102    meet   5.0     math     99
2        103      om  21.0  science     82
3        106     NaN   NaN  history     83

In [7]:
#full/outer join 
full_merge = pd.merge(student,score,on='studentID',how='outer')
print(full_merge)

   studentID    name   age  subject  Score
0        101  malhar  21.0     math   90.0
1        102    meet   5.0     math   99.0
2        103      om  21.0  science   82.0
3        104     ron  23.0      NaN    NaN
4        105     pri  21.0      NaN    NaN
5        106     NaN   NaN  history   83.0