In [3]:
#data frames 
#dictionary means it  adds a key and values
import pandas as pd
data = {
    'Name':['Rahul','Rohan','Tiya','Riya','Diana','Joy','Nishant','Heena','Deep'],
    'Age' :[23,34,45,67,24,12,50,22,56],
    'City':['Tokyo','Paris','Mumbai','Surat','Bhuj','Jaipur','Pune','Pune','Mumbai']
}
df = pd.DataFrame(data)
print(df)

      Name  Age    City
0    Rahul   23   Tokyo
1    Rohan   34   Paris
2     Tiya   45  Mumbai
3     Riya   67   Surat
4    Diana   24    Bhuj
5      Joy   12  Jaipur
6  Nishant   50    Pune
7    Heena   22    Pune
8     Deep   56  Mumbai

In [4]:
data = [
    ['Rahul',23,'Tokyo'],
    ['Joy',12,'Jaipur'],
    ['Nishant',50,'Pune']
]
df = pd.DataFrame(data)
print(df)

         0   1       2
0    Rahul  23   Tokyo
1      Joy  12  Jaipur
2  Nishant  50    Pune

In [5]:
data = [
    ['Rahul',23,'Tokyo'],
    ['Joy',12,'Jaipur'],
    ['Nishant',50,'Pune']
]
col = ['Name','Age','City']
df = pd.DataFrame(data,columns=col)
print(df)

      Name  Age    City
0    Rahul   23   Tokyo
1      Joy   12  Jaipur
2  Nishant   50    Pune

In [12]:
#https://github.com/Pankaj-Str/Complete-Python-Mastery/blob/main/53%20DataSet/credit_card_transactions.csv
data = pd.read_csv("credit_card_transactions.csv")# reading file when it loaded
print(data.head())#head will read how much data you want to see if in bracket theres no number it wil show you default 5

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [15]:
data = pd.read_csv("https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/00%20Lecture/lecture14/29%20Oct%202025/credit_card_transactions.csv ")#reading file from online directly copy paste from web page
print(data.head(7))

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon
5          100005         4096       2023-01-01              ATM     Uber
6          100006         1587       2023-01-01           Online  Netflix

        Category   Amount Payment_Mode Transaction_Status            Location
0         Travel  4520.70   Debit Card           Approved           Jonesport
1         Travel  1437.85   Debit Card           Approved       Port Jennifer
2       Clothing  3320.52       PayPal           Approved          Port James
3         Travel  2659.96   Debit Card           Approved          Hawkinston
4         Travel  2517.07   Debit Card           Approved         Matthewland
5      Groceries  2032.91          UPI           Approved  West Patriciamouth
6  Entertainment  2309.06   Debit Card           Approved           Scottport

In [16]:
#df = pd.read_excel('data.xlsx')# data in excel form
#df = pd.read_json('data.json')#data in jason

In [17]:
data = pd.read_csv("credit_card_transactions.csv")
print(data.head())
#print 5 rows of data frame

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [23]:
#print last 5
print(data.tail())

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS
5497          105497         3978       2023-08-18           Online
5498          105498         3082       2023-08-18              ATM
5499          105499         2271       2023-08-18   Mobile Payment

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved
5497  Apple Store       Clothing  2981.13          UPI           Approved
5498         Uber       Clothing  2168.39   Debit Card           Approved
5499      Netflix  Entertainment  1918.66          UPI           Approved

               Location
5495   South Hannahtown
5496     South Courtney
5497           Rubenton
5498     East Brianfurt
5499  New Stephaniebury

In [20]:
#check data type of each column
print(data.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [21]:
#check information about dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5500 non-null   int64
 1   Customer_ID         5500 non-null   int64
 2   Transaction_Date    5500 non-null   object
 3   Transaction_Type    5500 non-null   object
 4   Merchant            5500 non-null   object
 5   Category            5500 non-null   object
 6   Amount              5500 non-null   float64
 7   Payment_Mode        5500 non-null   object
 8   Transaction_Status  5500 non-null   object
 9   Location            5500 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 429.8+ KB
None

In [22]:
# describe the dataframes 
print(data.describe())

       Transaction_ID  Customer_ID       Amount
count     5500.000000  5500.000000  5500.000000
mean    102749.500000  2989.954182  2492.109224
std       1587.857571  1153.928878  1444.493842
min     100000.000000  1000.000000     6.550000
25%     101374.750000  1988.000000  1236.935000
50%     102749.500000  3000.000000  2502.405000
75%     104124.250000  3990.000000  3767.957500
max     105499.000000  4998.000000  4997.490000

In [24]:
#shape of dataframe
print(data.shape)

(5500, 10)

In [25]:
#print column names
print(data.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location'],
      dtype='object')

In [29]:
# to see in vertical format
data_columns = data.columns.tolist()
#print(data_columns)
for i in data_columns:
    print(i)

Transaction_ID
Customer_ID
Transaction_Date
Transaction_Type
Merchant
Category
Amount
Payment_Mode
Transaction_Status
Location

In [30]:
#indexes of the dataframe
print(data.index)

RangeIndex(start=0, stop=5500, step=1)

In [31]:
#selecting data from dataframe
print(data['Amount'])

0       4520.70
1       1437.85
2       3320.52
3       2659.96
4       2517.07
         ...
5495    4554.82
5496    4118.51
5497    2981.13
5498    2168.39
5499    1918.66
Name: Amount, Length: 5500, dtype: float64

In [34]:
print(data[['Amount','Location']]) # [[ use double list so it will run or
col2 = ['Amount','Location']
print(data[col2])

       Amount           Location
0     4520.70          Jonesport
1     1437.85      Port Jennifer
2     3320.52         Port James
3     2659.96         Hawkinston
4     2517.07        Matthewland
...       ...                ...
5495  4554.82   South Hannahtown
5496  4118.51     South Courtney
5497  2981.13           Rubenton
5498  2168.39     East Brianfurt
5499  1918.66  New Stephaniebury

[5500 rows x 2 columns]
       Amount           Location
0     4520.70          Jonesport
1     1437.85      Port Jennifer
2     3320.52         Port James
3     2659.96         Hawkinston
4     2517.07        Matthewland
...       ...                ...
5495  4554.82   South Hannahtown
5496  4118.51     South Courtney
5497  2981.13           Rubenton
5498  2168.39     East Brianfurt
5499  1918.66  New Stephaniebury

[5500 rows x 2 columns]

In [36]:
# row by index
print(data.iloc[2])

Transaction_ID                100002
Customer_ID                     2259
Transaction_Date          2023-01-01
Transaction_Type      Mobile Payment
Merchant                        Uber
Category                    Clothing
Amount                       3320.52
Payment_Mode                  PayPal
Transaction_Status          Approved
Location                  Port James
Name: 2, dtype: object

In [37]:
# select row 100 to 110
print(data.iloc[100:110])

     Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
100          100100         1145       2023-01-05   Mobile Payment
101          100101         3025       2023-01-05           Online
102          100102         1522       2023-01-05   Mobile Payment
103          100103         2210       2023-01-05              ATM
104          100104         4100       2023-01-05              ATM
105          100105         3849       2023-01-05   Mobile Payment
106          100106         2753       2023-01-05              POS
107          100107         3847       2023-01-05              POS
108          100108         1638       2023-01-05              ATM
109          100109         3890       2023-01-05           Online

        Merchant       Category   Amount Payment_Mode Transaction_Status  \
100         Uber      Groceries  1277.06       PayPal           Declined
101       Target       Clothing   395.01       PayPal           Approved
102      BestBuy       Clothing  1875.28   Debit Card           Approved
103  Apple Store         Travel  2451.38       PayPal           Approved
104      Walmart         Dining   149.46       PayPal           Declined
105      Walmart  Entertainment  3571.00   Debit Card           Approved
106       Target    Electronics  1643.06   Debit Card           Approved
107  Apple Store       Clothing   155.60       PayPal           Approved
108         Uber       Clothing  1326.21          UPI           Approved
109      Netflix      Groceries   987.94       PayPal           Approved

                  Location
100       Christophermouth
101            Robertmouth
102  East Christopherburgh
103           Michaelmouth
104            Justinshire
105        Port Stevenside
106               Jamieton
107             Blairmouth
108            Rosarioport
109            Lake Dennis

In [40]:
print(data.iloc[:,0])

0       100000
1       100001
2       100002
3       100003
4       100004
         ...
5495    105495
5496    105496
5497    105497
5498    105498
5499    105499
Name: Transaction_ID, Length: 5500, dtype: int64

In [43]:
print(data.iloc[:,3]) # column name transaction type

0               Online
1                  ATM
2       Mobile Payment
3               Online
4                  ATM
             ...
5495               ATM
5496               POS
5497            Online
5498               ATM
5499    Mobile Payment
Name: Transaction_Type, Length: 5500, dtype: object

In [44]:
# row by label
print(data.iloc[5])

Transaction_ID                    100005
Customer_ID                         4096
Transaction_Date              2023-01-01
Transaction_Type                     ATM
Merchant                            Uber
Category                       Groceries
Amount                           2032.91
Payment_Mode                         UPI
Transaction_Status              Approved
Location              West Patriciamouth
Name: 5, dtype: object

In [46]:
# row 0-10 and column amount and location
print(data.loc[0:10,['Amount','Location']]) # loc function

     Amount            Location
0   4520.70           Jonesport
1   1437.85       Port Jennifer
2   3320.52          Port James
3   2659.96          Hawkinston
4   2517.07         Matthewland
5   2032.91  West Patriciamouth
6   2309.06           Scottport
7    334.82            Shawview
8    374.29        Port Lindsay
9   1117.12      Lake Steveport
10  1908.74         Ginachester

In [49]:
# conditional selection
#print row where amount > 3000
print(data[data['Amount'] > 3000])

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0             100000         4452       2023-01-01           Online
2             100002         2259       2023-01-01   Mobile Payment
11            100011         4816       2023-01-01   Mobile Payment
12            100012         3914       2023-01-01   Mobile Payment
15            100015         1903       2023-01-01              ATM
...              ...          ...              ...              ...
5483          105483         1076       2023-08-17              POS
5487          105487         4593       2023-08-17           Online
5491          105491         3258       2023-08-17   Mobile Payment
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS

         Merchant   Category   Amount Payment_Mode Transaction_Status  \
0         Walmart     Travel  4520.70   Debit Card           Approved
2            Uber   Clothing  3320.52       PayPal           Approved
11        Netflix  Groceries  4530.51       PayPal           Approved
12        Netflix     Dining  3059.09       PayPal           Approved
15           Uber   Clothing  3093.14       PayPal           Approved
...           ...        ...      ...          ...                ...
5483       Amazon   Clothing  3184.26       PayPal           Declined
5487       Amazon     Travel  3707.66  Credit Card           Approved
5491      Netflix  Groceries  4860.84   Debit Card           Approved
5495  Apple Store     Travel  4554.82   Debit Card           Approved
5496         Uber     Travel  4118.51   Debit Card           Approved

                Location
0              Jonesport
2             Port James
11          Petersonbury
12          South Rhonda
15    North Jessicahaven
...                  ...
5483     New Josephmouth
5487            Dukeview
5491          West James
5495    South Hannahtown
5496      South Courtney

[2221 rows x 10 columns]

In [51]:
#print row amount > 4000 with transaction type online
print(data[(data['Amount'] > 4000) & (data['Transaction_Type'] == 'Online')]) # use parenthesis

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0             100000         4452       2023-01-01           Online
22            100022         3057       2023-01-01           Online
26            100026         4254       2023-01-02           Online
27            100027         1719       2023-01-02           Online
34            100034         2424       2023-01-02           Online
...              ...          ...              ...              ...
5326          105326         1662       2023-08-10           Online
5341          105341         2011       2023-08-11           Online
5395          105395         3551       2023-08-13           Online
5446          105446         4468       2023-08-15           Online
5461          105461         1140       2023-08-16           Online

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
22        BestBuy      Groceries  4094.49       PayPal           Approved
26        BestBuy         Travel  4054.78  Credit Card           Approved
27        Walmart  Entertainment  4471.68          UPI            Pending
34         Target      Groceries  4074.73       PayPal           Approved
...           ...            ...      ...          ...                ...
5326       Target    Electronics  4020.44  Credit Card           Approved
5341  Apple Store         Dining  4532.78  Credit Card           Approved
5395       Target         Dining  4540.80  Credit Card            Pending
5446      Walmart         Dining  4124.70  Credit Card           Declined
5461  Apple Store  Entertainment  4027.18       PayPal           Approved

                Location
0              Jonesport
22          West Kenneth
26          Stevensmouth
27           Riveramouth
34        North Marytown
...                  ...
5326  South Adrianaburgh
5341           Allenland
5395          Floresview
5446         Cartermouth
5461   South Lorichester

[291 rows x 10 columns]

In [58]:
print(data[(data['Amount'] > 2000) & (data['Category'] == 'Clothing') & (data['Transaction_Type'] == 'Online')])

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
14            100014         1855       2023-01-01           Online
29            100029         4073       2023-01-02           Online
246           100246         2069       2023-01-11           Online
309           100309         4873       2023-01-13           Online
310           100310         3203       2023-01-13           Online
...              ...          ...              ...              ...
5294          105294         1751       2023-08-09           Online
5302          105302         1755       2023-08-09           Online
5351          105351         3249       2023-08-11           Online
5429          105429         1923       2023-08-15           Online
5497          105497         3978       2023-08-18           Online

         Merchant  Category   Amount Payment_Mode Transaction_Status  \
14        Walmart  Clothing  2365.67  Credit Card           Approved
29        BestBuy  Clothing  2905.62  Credit Card           Approved
246        Amazon  Clothing  2255.35  Credit Card           Declined
309       Walmart  Clothing  2597.55       PayPal           Approved
310        Amazon  Clothing  2708.79       PayPal            Pending
...           ...       ...      ...          ...                ...
5294      BestBuy  Clothing  3528.06   Debit Card           Approved
5302      Walmart  Clothing  4125.59  Credit Card           Approved
5351      Netflix  Clothing  2823.63       PayPal           Approved
5429  Apple Store  Clothing  2255.03  Credit Card           Approved
5497  Apple Store  Clothing  2981.13          UPI           Approved

                 Location
14          Catherineland
29               Annaland
246        South Cristian
309          Port Shannon
310            East James
...                   ...
5294       Katherineville
5302         Williamstown
5351  Port Anthonychester
5429         Port Charles
5497             Rubenton

[132 rows x 10 columns]

In [62]:
# export new_record to csv 
new_record = data[(data['Amount'] > 4000) & (data['Transaction_Type'] == 'Online')]
new_record.to_csv('new_record.csv',index = False)